<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
            <link rel="shortcut icon" href="../images/favicon-32x32.png" />
            <link rel="apple-touch-icon" href="../images/favicon-32x32.png" />

            <style>

                body{
                    background-color: #5163d8;
                    color: #fff;
                }

                h1{
                    text-align: center;
                    margin-top: 200px;
                    font-size: 300px;
                }
                
            </style>
</head>
<body>
    <h1>work under progress</h1>

    <a href="https://localhost:3010/"> go to Home</a>
</body>
</html>